* {
  margin: 0px;
  padding: 0px;
}

:root {
  --card-top: 70px;
  --card-left: 28.5px;

  --top-1: 0;
  --top-2: 0;
  --top-3: 0;
  --top-4: 0;
  --top-5: 0;

  --left-1: 0;
  --left-2: 0;
  --left-3: 0;
  --left-4: 0;
  --left-5: 0;

  --to-top-1: 0;
  --to-top-2: 0;
  --to-top-3: 0;
  --to-top-4: 0;
  --to-top-5: 0;

  --to-left-1: 0;
  --to-left-2: 0;
  --to-left-3: 0;
  --to-left-4: 0;
  --to-left-5: 0;
}

body {
  background: linear-gradient(135deg, rgb(229, 185, 193), rgb(236, 115, 136), rgb(236, 84, 110));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.heading {
  padding: 15px 0px 0px 0px;
  place-items: center;
  color: rgb(240, 111, 223);
  animation: dynamic-font 3s linear alternate infinite;
}

@keyframes dynamic-font {
  0% {
    font-family: Comic-Sans-MS;
  }
  10% {
    font-family: Bauhaus-93;
  }
  20% {
    font-family: Algerian;
  }
  30% {
    font-family: Blackadder-ITC;
  }
  40% {
    font-family: Brush-Script-MT;
  }
  50% {
    font-family: Castellar;
  }
  60% {
    font-family: Chiller;
  }
  70% {
    font-family: Curlz MT;
  }
  80% {
    font-family: Edwardian Script ITC;
  }
  90% {
    font-family: Forte;
  }
  100% {
    font-family: Vivaldi;
  }
}

.card1, .card2, .card3, .card4, .card5 {
  position: absolute;
  height: 200px;
  width: 150px;
  border: 2px solid pink;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.card1 {
  background-image: url('../../images/pics/image2.jpg');
  animation-name: scroll-1;
  z-index: 1;
}

.card2 {
  background-image: url('../../images/pics/image3.jpg');
  animation-name: scroll-2;
}

.card3 {
  background-image: url('../../images/pics/image5-1.jpg');
  animation-name: scroll-3;
}

.card4 {
  background-image: url('../../images/pics/image4.jpg');
  animation-name: scroll-4;
}

.card5 {
  background-image: url('../../images/pics/image1.jpg');
  animation-name: scroll-5;
}

@keyframes scroll-1 {
  from {
    top: var(--top-1);
    left: var(--left-1);
  }
  to {
    top: var(--center-y);
    left: var(--center-x);
  }
}

@keyframes scroll-2 {
  from {
    top: var(--top-2);
    left: var(--left-2);
  }
  to {
    top: calc(var(--center-y) - 210px);
    left: calc(var(--center-x) - 85px);
  }
}

@keyframes scroll-3 {
  from {
    top: var(--top-3);
    left: var(--left-3);
  }
  to {
    top: calc(var(--center-y) + 210px);
    left: calc(var(--center-x) + 85px);
  }
}

@keyframes scroll-4 {
  from {
    top: var(--top-4);
    left: var(--left-4);
  }
  to {
    top: calc(var(--center-y) + 210px);
    left: calc(var(--center-x) - 85px);
  }
}

@keyframes scroll-5 {
  from {
    top: var(--top-5);
    left: var(--left-5);
  }
  to {
    top: calc(var(--center-y) - 210px);
    left: calc(var(--center-x) + 85px);
  }
}
