body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.countdown {
  font-size: 4.3vh;
  /* font-size: 5em; */
}
.label {
  font-size: 1.5vh;
  display: block;
  color: gray;
}
.time-box {
  font-size: 6.2vh;
  margin: 0 15px;
  display: inline-block;
}
